$body-color: linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 
$body-color-webkit: -webkit-linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 
$card-color: linear-gradient(to left, #CFDEF3, #E0EAFC); 
$card-color-webkit: -webkit-linear-gradient(to left, #CFDEF3, #E0EAFC);
$button-color: #007bff;
$header-and-footer-color: #596065;
$letter-color: #f0f8ff;
$details-color: #CB1E40;
$details-color-ok: #45a345;
